<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883465783958-9k39l743k1t7m25o88pk47pinus7411n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883465783958-9k39l743k1t7m25o88pk47pinus7411n</string>
	<key>API_KEY</key>
	<string>AIzaSyDzd0fjja9g4ZhotynbatmV3v5cYMzWlKg</string>
	<key>GCM_SENDER_ID</key>
	<string>883465783958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuki.flutterKboy</string>
	<key>PROJECT_ID</key>
	<string>flutter-tutrial</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tutrial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883465783958:ios:c317160179101c7ee250b7</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-tutrial.firebaseio.com</string>
</dict>
</plist>